@charset "UTF-8";

main{
  max-width: 80vw;
  margin: auto;
}

h3, h4{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: min(30px, 8vw);
  text-align: center;
  padding: 10px 5px;
}

h4{
  font-size: min(20px, 8vw);
}

div {  
  font-size: min(16px, 5vw);
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-left: 1vw; 
  padding-bottom: 1vw;
}

section.normal{
  background-color: white;  
}

section#siglas{
  margin-top: 2vw;
  border-radius: 10px;
  padding:10px 7px; 
}

section.imagem{
  padding-top: 3vw;
  padding-bottom: 3vw;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.473);
  line-height: 1.2em;
  background-attachment: fixed;
  background-size: cover;
  background-position: right center;
}

section.imagem > p {
  font-size: min(16px, 5vw ) ;  
}

section > div.text-img{
  max-width: 70%;
  background-color: rgba(255, 255, 255, 0.76);
  max-width: 70%; 
  padding: 5px 15px;
  display: block;
  margin-left: 12px;
}

section#img01{
  background-image: url(../imagens/outras-imagens/difusor.jpg); 
}

section#img02{
  background-image: url(../imagens/outras-imagens/aromaterapia.jpg); 
}

section#precaucoes{  
 padding: 3vw;
}
