@charset "UTF-8";

*::-webkit-scrollbar {
  width: 12px;  
}

*::-webkit-scrollbar-track {
  background: #e4ddf1;
}

*::-webkit-scrollbar-thumb {
  background-color:#4d367e;
  border-radius: 10px;
  border: 3px solid #ffffff;
}